################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Vesta25_2
/Vesta25_2/Vesta25_2/x64/Debug
/Vesta25_2/x64/Debug
/x64/Debug

/.vs
